@import url('https://fonts.googleapis.com/css?family=Bellefair');
body {
	color: #1373E5;
	font-size: 50px;
}
h1 {
	color: #052040;
	font-size: 300px;
	font-family: 'Bellefair', serif;
}
#slogan {
	font-style: italic;
	font-size: 100px; 
}